body {
    background-color: rgba(0, 0, 0, 0.945);
    background-image: url(kotaeche-street-7717463_1920.jpg);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.85) 0px 18px 36px 1000px inset;
    background-size: cover;
    margin: 0;
}


background-image: url(kotaeche-street-7717463_1920.jpg);



:root {
    --Main-width: 40rem;
    --Projecttransition-time: 0.5s;
}

header,
main,
footer {
    display: flex;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

header,
main {
    max-width: var(--Main-width);
    
    align-items: center;
}



header {
    justify-content: space-between;
    position: sticky;
    top: 0;
}

main {
    flex-direction: column;
}

nav{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: #8fffc5;
}

nav a:hover {
    background-color: white;
    color: black;
}

.Projects {
    display: flex;
    padding: 1rem;
    flex-direction: row;
}

.img1,
.img2 {
    border:solid;
    border-color: #ffffff;
    border-radius: .5rem;
    width: 15rem;
    background-size: cover;
    color: rgba(255, 255, 255, 0);
    transition:4s;

}

.img1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(104, 104, 104, 0.445) 0px 18px 36px 1000px inset;
    background-image: url(GraveLanters.png);
}

.img2 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(104, 104, 104, 0.445) 0px 18px 36px 1000px inset;
    transition: var(--Projecttransition-time);
    background-image: url(LettersSky.png);

}





.img2:hover, .img1:hover{
 box-shadow: none;
}




.Centrerad {
    width: var(--max-width);
    padding: 1rem;
    align-self: flex-start;
}

footer {}