body {
    background-color: rgba(0, 0, 0, 0.849);
    background-image: url(Pictures/kotaeche-street-7717463_1920.jpg);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.75) 0px 18px 36px 1000px inset;
    background-size: cover;
    margin: 0;
}



background-image: url(kotaeche-street-7717463_1920.jpg);



:root {
    --Main-width: 40rem;
    --Projecttransition-time: 2s;
}

header,
main,
footer {
    display: flex;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

header,
main {
    max-width: var(--Main-width);

    align-items: center;
}



header {
    justify-content: space-between;
    position: sticky;
    top: 0;
}

main {
    flex-direction: column;
}

nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-direction: row;

}

a {
    font-family: "Baloo 2", sans-serif;
    text-decoration: none;
    color: #6c757d;
    border-radius: .2rem;
    transition: .5s;
    padding: 1rem;
}

nav a:hover {
    background-color: #343a40;
    color: rgb(255, 255, 255);
}

.Projects {
    display: flex;
    width: 70rem;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.img1,
.img2,
.img3 {
    border: solid;
    border-color: #212d3a;
    border-radius: .5rem;
    width: 15rem;
    height: 10rem;
    background-size: cover;
    color: rgba(255, 255, 255, 0);
    transition: 1s;
    margin: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(104, 104, 104, 0.445) 0px 18px 36px 1000px inset;

}

.appa {
    align-self: flex-start;
}

.img1 {
    background-image: url(Pictures/GraveLanters.png);
}

.img2 {
    background-image: url(Pictures/LettersSky.png);

}

.img3 {
    background-image: url(Pictures/Zero-requiem.png);
}



.img2:hover,
.img1:hover,
.img3:hover {
    box-shadow: none;
    height: 20rem;
}




.Centrerad {
    display: flex;
    border-radius: 1rem;
    background-color: #212529;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 70rem;
    padding: 1rem;
}



.Office-img {
    border-radius: 2rem;
}

.Container1 {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-family: "Baloo 2", sans-serif;
}




h1 {
    font-family: "Baloo 2", sans-serif;
}


footer {
    background-color: #212529;
    justify-content: space-between;
    align-items: end;
}